<div
  class="main-container mt-10"
  nz-row
  [nzJustify]="'center'"
  nzAlign="middle"
>
  <div nz-col nzLg="8" nzMd="16" nzXs="24">
    <nz-card [nzBordered]="false" nzHoverable [nzTitle]="cardTitle">
      <div nz-row [nzGutter]="[8, 16]">
        <form
          nz-col
          nzSpan="24"
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div nz-col>
            <label for="old-password">
              <app-input-label [required]="true">Old Password</app-input-label>
            </label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="passwordEye">
                <input
                  style="height: 30px"
                  nzSize="large"
                  nz-input
                  id="old-password"
                  [type]="showOldPassword ? 'text' : 'password'"
                  formControlName="old_password"
                />
              </nz-input-group>
              <ng-template #passwordEye>
                <span
                  nz-icon
                  [nzType]="showOldPassword ? 'eye-invisible' : 'eye'"
                  (click)="showOldPassword = !showOldPassword"
                ></span>
              </ng-template>
            </nz-form-control>
          </div>

          <div nz-col>
            <label for="new-password1">
              <app-input-label [required]="true">New Password</app-input-label>
            </label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="passwordEye1">
                <input
                  style="height: 30px"
                  nz-input
                  nzSize="large"
                  id="new-password1"
                  [type]="showNewPassword ? 'text' : 'password'"
                  formControlName="new_password1"
                />
              </nz-input-group>
              <ng-template #passwordEye1>
                <span
                  nz-icon
                  [nzType]="showNewPassword ? 'eye-invisible' : 'eye'"
                  (click)="showNewPassword = !showNewPassword"
                ></span>
              </ng-template>
            </nz-form-control>
          </div>

          <div nz-col>
            <label label for="new-password2">
              <app-input-label [required]="true"
                >Confirm Password</app-input-label
              >
            </label>
            <nz-form-control [nzErrorTip]="errorTpl">
              <nz-input-group [nzSuffix]="passwordEye2">
                <input
                  style="height: 30px"
                  nzSize="large"
                  nz-input
                  id="new-password2"
                  [type]="showConfirmNewPassword ? 'text' : 'password'"
                  formControlName="new_password2"
                />
              </nz-input-group>
              <ng-template #passwordEye2>
                <span
                  nz-icon
                  [nzType]="showConfirmNewPassword ? 'eye-invisible' : 'eye'"
                  (click)="showConfirmNewPassword = !showConfirmNewPassword"
                ></span>
              </ng-template>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please confirm your password!</ng-container
                >
                <ng-container *ngIf="control.hasError('confirm')">
                  Passwords are inconsistent!
                </ng-container>
              </ng-template></nz-form-control
            >
          </div>

          <div nz-col>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              nzBlock
              type="submit"
              [disabled]="!changePasswordForm.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </nz-card>
  </div>
  <ng-template #cardTitle>
    <img src="assets/changePassword.png" class="w-24 m-auto" id="signupLogo" />
    <heading [h1]="'Change Password'"></heading>
  </ng-template>
  <!-- <div nz-col nzSpan="12">
    <heading [h1]="'Change Password'"></heading>
  </div> -->
</div>
