<nz-layout class="layout">
  <nz-sider class="pt-5">
    <ul nz-menu nzMode="inline">
      <li nz-menu-item routerLink="/admin/dispute" nzSelected>
        <span nz-icon nzType="reconciliation"></span>
        <span class="menu-item-style">Disputes</span>
      </li>
      <li nz-menu-item routerLink="/admin/actors">
        <span nz-icon nzType="user"></span>
        <span class="menu-item-style">Users</span>
      </li>
      <li nz-menu-item routerLink="/admin/evidence">
        <span nz-icon nzType="picture"></span>
        <span class="menu-item-style">Evidences</span>
      </li>

      <li nz-menu-item routerLink="/admin/straight-to-hearing">
        <span nz-icon nzType="double-right" nzTheme="outline"></span>
        <span class="menu-item-style">Straight to Hearing</span>
      </li>

      <li nz-menu-item routerLink="/admin/job-post">
        <span nz-icon nzType="alert" nzTheme="outline"></span>
        <span class="menu-item-style">Job Post</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
