<div class="status-list">
  <div class="px-3 pb-4 pt-3 uppercase text-textMedium text-13 truncate">
    {{ lane.display_name }}
    <ng-container *ngIf="!loading; else loadingTemplate">
      <span class="lowercase text-13">{{ notes.length }}</span>
    </ng-container>
    <ng-template #loadingTemplate>
      <!-- <span nz-icon nzType="loading" nzTheme="outline"></span> -->
      <button nz-button nzSize="small" nzLoading nzShape="circle"></button>
    </ng-template>
  </div>
  <div
    class="h-full pl-2"
    cdkDropList
    [cdkDropListData]="notes"
    [id]="lane.id"
    (cdkDropListDropped)="drop($event)"
  >
    <note-card
      *ngFor="let note of notes"
      [note]="note"
      cdkDrag
      [cdkDragDisabled]="note.editable"
      [cdkDragData]="note"
      (onDeleteNote)="deleteNote($event)"
      (onChange)="onChangeNote($event)"
      (reloadLane)="reloadLane($event)"
    >
    </note-card>
  </div>
</div>
