<reset-change-password
  *ngIf="params && params.length; else resetTemplate"
  [credentials]="params"
></reset-change-password>

<ng-template #resetTemplate>
  <!-- <form nz-form [formControl]="resetPasswordEmail"> -->
  <nz-space nzDirection="vertical" nzSize="large">
    <div *nzSpaceItem>
      <h1 class="heading-1">Reset Password</h1>
      <h5 class="heading-2">Enter your Email here to reset your password</h5>
    </div>
    <div *nzSpaceItem>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email">
          <app-input-label>Email</app-input-label>
        </nz-form-label>

        <nz-form-control
          [nzSpan]="24"
          nzErrorTip="The input is not valid Email!"
        >
          <input
            nz-input
            [nzSize]="'large'"
            [formControl]="resetPasswordEmail"
            id="email"
            placeholder="Enter your email"
          />
        </nz-form-control>
      </nz-form-item>
      <button
        [disabled]="!resetPasswordEmail.valid"
        nz-button
        nzBlock
        [nzLoading]="isButtonLoading"
        nzSize="large"
        nzType="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>

    <div *nzSpaceItem>
      <a nz-col [nzSpan]="24" class="auth-link" [routerLink]="'../login'">
        <u>Click here to login</u>
      </a>

      <nz-divider nzText="OR"></nz-divider>
      <a nz-col [nzSpan]="24" class="auth-link" [routerLink]="'../signup'">
        <u>Don't have an account? Sign up</u>
      </a>
    </div>
  </nz-space>
  <!-- </form> -->
</ng-template>
