<div class="time-log-container">
  <nz-card [nzTitle]="headingTemplate">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <div>
          <plenary-table-data
            [dispute]="dispute"
            class="time-log-card"
          ></plenary-table-data>
        </div>
      </div>

      <nz-divider></nz-divider>

      <div nz-col [nzSpan]="24">
        <general-table-data
          [dispute]="dispute"
          class="time-log-card"
        ></general-table-data>
      </div>

      <div nz-col [nzSpan]="12">
        <!-- <caucus-table-data
          [dispute]="dispute"
          class="time-log-card"
        ></caucus-table-data> -->
      </div>
    </div>
  </nz-card>

  <ng-template #headingTemplate>
    <h1>Time Log</h1>
  </ng-template>
</div>
