<nz-layout>
  <nz-footer class="career-footer">
    <div nz-row nzJustify="center">
      <div nz-col nzSpan="18" style="text-align: center">
        <div nz-row nzJustify="center" style="margin-bottom: 24px">
          <img src="assets/logo-career.svg" />
        </div>
        <p style="margin-bottom: 24px">
          Arbitration Agreement provides access to independent attorneys and
          self-service tools. We are not a law firm and do not provide legal
          advice. Use of our products and services are governed by our Terms of
          Use and Privacy Policy.
        </p>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="career-footer-links"
        >
          <button
            [nzSize]="size"
            nz-col
            [nzXs]="12"
            [nzSm]="12"
            [nzMd]="4"
            nz-button
            nzType="link"
          >
            About Us
          </button>
          <!-- <span nz-col [nzSpan]="1" nzAlign="middle">-</span> -->
          <button
            [nzSize]="size"
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            nz-button
            nzType="link"
          >
            Services
          </button>
          <!-- <span nz-col [nzSpan]="1">-</span> -->
          <button
            [nzSize]="size"
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            nz-button
            nzType="link"
          >
            Contact Us
          </button>
          <!-- <span nz-col [nzSpan]="1">-</span> -->
          <button
            [nzSize]="size"
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            nz-button
            nzType="link"
          >
            Blog
          </button>
          <!-- <span nz-col [nzSpan]="1">-</span> -->
          <button
            [nzSize]="size"
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="4"
            nz-button
            nzType="link"
          >
            Career
          </button>
        </div>
      </div>
    </div>
  </nz-footer>

  <nz-footer style="text-align: center">
    ©2023 Arbitration Agreement. All Right Reserved.
  </nz-footer>
</nz-layout>
