nz-header {
  background: #fcfbf9;
}

// .container {
//   background-color: #f6f6f6;
//   height: auto;
//   min-height: calc(100vh - 31px);
// }

.auth-sider {
  background-color: #f4f4f4;
  height: auto;
  min-height: calc(100vh - 70px);
}

h2 {
  width: 425px;
  height: 154px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 58px;
  line-height: 77px;
  color: #000000;
}

.arrow {
  margin-bottom: 85px;
}
