<swiper-container
  fmSwiper
  [config]="config"
  init="false"
  class="w-full h-[140px]"
>
  <swiper-slide
    style="display: flex; justify-content: center"
    (click)="evidences.addEvidenceModal()"
  >
    <!-- <ng-container *ngTemplateOutlet="content"> </ng-container> -->
    <div
      class="parent-img-container"
      [ngStyle]="{
        'background-image':
          currentStep >= 1
            ? 'url(assets/claim-action-steps/blue-background.png)'
            : 'url(assets/claim-action-steps/gray-background.png)'
      }"
    >
      <div class="img-container">
        <img [src]="'assets/claim-action-steps/search.svg'" alt="search" />
      </div>
    </div>
    <div style="margin-top: 12px; margin-left: 8px">
      <div class="font-bold text-[24px]">Upload<br />evidence</div>
    </div>
  </swiper-slide>

  <swiper-slide
    style="display: flex; justify-content: center"
    (click)="witnesses.addWitnessModal()"
  >
    <!-- <ng-container *ngTemplateOutlet="content"> </ng-container> -->
    <div
      class="parent-img-container"
      [ngStyle]="{
        'background-image':
          currentStep >= 1
            ? 'url(assets/claim-action-steps/blue-background.png)'
            : 'url(assets/claim-action-steps/gray-background.png)'
      }"
    >
      <div class="img-container">
        <img [src]="'assets/claim-action-steps/eye.svg'" alt="eye" />
      </div>
    </div>
    <div style="margin-top: 12px; margin-left: 8px">
      <div class="font-bold text-[24px]">Add<br />witness</div>
    </div>
  </swiper-slide>

  <swiper-slide
    style="display: flex; justify-content: center"
    (click)="notes.openNotesModal()"
  >
    <!-- <ng-container *ngTemplateOutlet="content"> </ng-container> -->
    <div
      class="parent-img-container"
      [ngStyle]="{
        'background-image':
          currentStep >= 1
            ? 'url(assets/claim-action-steps/blue-background.png)'
            : 'url(assets/claim-action-steps/gray-background.png)'
      }"
    >
      <div class="img-container">
        <img [src]="'assets/claim-action-steps/edit.svg'" alt="edit" />
      </div>
    </div>
    <div style="margin-top: 12px; margin-left: 8px">
      <div class="font-bold text-[24px]">Add<br />notes</div>
    </div>
  </swiper-slide>
</swiper-container>
